---
import ky, { HTTPError } from "ky"
import Layout from "../../../../layouts/Layout.astro"
const { id, code } = Astro.params

try {
  const board: any = await ky
    .get(`http://localhost:8080/board/code/${code}`)
    .json()
} catch (error) {
  if (error instanceof HTTPError)
    if (error.response.status === 404) return Astro.redirect(`/error`)
}

try {
  const thread: any = await ky.get(`http://localhost:8080/thread/${id}`).json()
} catch (error) {
  if (error instanceof HTTPError)
    if (error.response.status === 404)
      return Astro.redirect(`/board/${code}/error`)
}

const posts: any = await ky
  .get(`http://localhost:8080/thread/${id}/post`)
  .json()

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    const content = data.get("content")
    const post: any = await ky
      .post(`http://localhost:8080/post`, {
        json: {
          thread_id: id,
          post: {
            content: content,
          },
        },
      })
      .json()
    console.log(post)
    return Astro.redirect(`/board/${code}/t/${id}#${post.id}`)
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<Layout title="Posts of threads.">
  {posts.result.toReversed().map((el: any) => <div class="">{el.content}</div>)}
  <div class="">
    <form method="POST">
      <label>
        Content:
        <input type="text" name="content" required />
      </label>
      <button>Submit</button>
    </form>
  </div>
</Layout>
