---
import Layout from "../layouts/Layout.astro"
import ky from "ky"
const json: any = await ky
  .get(`${import.meta.env.BACKEND_SERVER_URI}/board`)
  .json()

console.log(import.meta.env.BACKEND_SERVER_URI)

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    const { code, title, description } = Object.fromEntries(data)

    const createdBoard: any = await ky
      .post(`${import.meta.env.BACKEND_SERVER_URI}/board`, {
        json: {
          code: code,
          title: title,
          description: description,
        },
      })
      .json()
    return Astro.redirect(`/board/${code}/`)
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<Layout title="Welcome to Astro.">
  <main>
    {
      json.map((d: any) => (
        <div>
          <a href={`/board/${d.code}/`}>
            {d.code} - {d.id}
          </a>
        </div>
      ))
    }

    <div class="">
      <form method="POST" enctype="multipart/form-data">
        <label>
          title:
          <input type="text" name="title" required />
        </label>
        <label>
          Code:
          <input type="text" name="code" required />
        </label>
        <label>
          Description:
          <input type="text" name="description" required />
        </label>
        <button>Submit</button>
      </form>
    </div>
  </main>
</Layout>
