---
import ky, { HTTPError } from "ky"
import Layout from "../../../../../layouts/Layout.astro"
const { id, code } = Astro.params

try {
  await ky
    .get(`${import.meta.env.BACKEND_SERVER_URI}/board/code/${code}`)
    .json()
} catch (error) {
  if (error instanceof HTTPError)
    if (error.response.status === 404) return Astro.redirect(`/error`)
}

try {
  await ky.get(`${import.meta.env.BACKEND_SERVER_URI}/thread/${id}`).json()
} catch (error) {
  if (error instanceof HTTPError)
    if (error.response.status === 404)
      return Astro.redirect(`/board/${code}/error`)
}

const posts: any = await ky
  .get(`${import.meta.env.BACKEND_SERVER_URI}/thread/${id}/post`)
  .json()

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    const content = data.get("content")
    const image: any = data.get("image")

    const formData = new FormData()
    formData.append("file", image)

    const media: any = await ky
      .post(`${import.meta.env.BACKEND_SERVER_URI}/media`, {
        body: formData,
      })
      .json()

    const post: any = await ky
      .post(`${import.meta.env.BACKEND_SERVER_URI}/post`, {
        json: {
          thread_id: id,
          post: {
            content: content,
            media_key: media.key,
          },
        },
      })
      .json()

    return Astro.redirect(`/board/${code}/t/${id}#${post.id}`)
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<Layout title="Posts of threads.">
  {
    posts.result.toReversed().map((el: any) => (
      <div class="">
        {el.content}
        {el.media && (
          <img
            src={`${import.meta.env.BACKEND_SERVER_URI}/media/thumb/${el.media.key}`}
            alt=""
          />
        )}
      </div>
    ))
  }
  <div class="">
    <form method="POST" enctype="multipart/form-data">
      <label>
        Content:
        <input type="text" name="content" required />
      </label>
      <label>
        Upload Image:
        <input type="file" name="image" accept="image/*" required />
      </label>
      <button>Submit</button>
    </form>
  </div>
</Layout>
