---
import ky from "ky"
import Layout from "../../../layouts/Layout.astro"
const { code } = Astro.params

const boardInformation: any = await ky
  .get(`http://localhost:8080/board/code/${code}`)
  .json()

const json: any = await ky
  .get(`http://localhost:8080/board/${boardInformation.id}/thread`)
  .json()
---

<Layout title="Welcome to Astro.">
  {
    json.result.map((el: any) => (
      <div class="">
        <a href={`/board/${code}/thread/${el.id}`}>
          {el.title} - {el.replys} | {el.medias}
        </a>
      </div>
    ))
  }
</Layout>
